@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
}
h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
p {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: $color-primary;
}
span {
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
a {
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}
