.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-weight: 700;
    font-size: 288px;
    color: $color-primary;
  }
  &__text {
    font-size: 36px;
    text-align: center;
  }
  &__back {
    margin: 120px 0 120px 0;
    font-size: 18px;
    color: $color-primary;
  }
}

@media screen and (max-width: 768px) {
  .error404 {
    margin: 0 20px 0 20px;
    &__title {
      font-size: 192px;
    }
    &__back {
      margin: 60px 0 60px 0;
    }
  }
}
