.cards {
  padding: 25px;
  background: $color-tertiary;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  a {
    text-decoration: none;
  }
  a:hover {
    scale: 1.05;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 10px 0 10px 0;
    border-radius: 10px;
    a:hover {
      scale: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards {
    padding: 0;
    width: 100%;
    background: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
