.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 36px;
    color: $color-primary;
  }
  &__paragraph {
    margin-bottom: 20px;
  }
  &__tags {
    display: flex;
    flex-direction: row;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.toggles {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .collapse {
    width: 45%;
    &__title {
      font-size: 18px;
    }
    &__description {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .location {
    flex-direction: column;
    align-items: flex-start;
    &__info {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
  .toggles {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .collapse {
      width: 100%;
    }
  }
}
