.collapse {
  margin-bottom: 30px;
  &__button {
    padding: 15px;
    width: 100%;
    height: 45px;
    border: inherit;
    border-radius: 5px;
    background: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 24px;
    color: $color-secondary;
  }
  &__description {
    padding: 15px;
    border-radius: 5px;
    background: $color-tertiary;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    color: $color-primary;
  }
  &__arrow.true {
    transform: rotate(180deg);
  }
}
